# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Environments
.env

# Logs
logs/
.log

# Database
data/
postgres/
mongodb/

# Programms
.idea

# Poetry 
.python-version
